@font-face {
  font-family: "iconfont"; /* Project id 4577634 */
  src: url('iconfont.woff2?t=1721029296344') format('woff2'),
       url('iconfont.woff?t=1721029296344') format('woff'),
       url('iconfont.ttf?t=1721029296344') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.icon-sanjiaoxing:before {
  content: "\eb9a";
}

.icon-juxing:before {
  content: "\e790";
}

.icon-ellipse:before {
  content: "\e6bb";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-shanchu:before {
  content: "\e641";
}

.icon-quxiao:before {
  content: "\e64f";
}

.icon-zhuyi:before {
  content: "\e62f";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-zhankai:before {
  content: "\e62d";
}

.icon-xiaogongju:before {
  content: "\e65b";
}

.icon-insert-right-full:before {
  content: "\ea5d";
}

.icon-donghua:before {
  content: "\e66b";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-dian:before {
  content: "\e608";
}

.icon-kuaidiyuan-xianxing:before {
  content: "\e90f";
}

