@font-face {
  font-family: "iconfont"; /* Project id 4577634 */
  src: url('iconfont.woff2?t=1718613882527') format('woff2'),
       url('iconfont.woff?t=1718613882527') format('woff'),
       url('iconfont.ttf?t=1718613882527') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-zhankai:before {
  content: "\e62d";
}

.icon-cs-hz-1:before {
  content: "\e62e";
}

.icon-svg:before {
  content: "\e8bf";
}

.icon-xiaogongju:before {
  content: "\e65b";
}

.icon-insert-right-full:before {
  content: "\ea5d";
}

.icon-donghua:before {
  content: "\e66b";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-dian:before {
  content: "\e608";
}

.icon-kuaidiyuan-xianxing:before {
  content: "\e90f";
}

